/* GLOBAL STYLES
-------------------------------------------------- */

.container {
  max-width: 960px;
}

@font-face {
  font-family: WellnessFont;
  src: url(./fonts/ADAM.CG\ PRO.otf);
}

ul span {
  font-family: WellnessFont;
  font-size: 10pt;
}

span {
  font-family: WellnessFont;
  font-size: 12pt;
}

/* .icon-link > .bi {
    width: .75em;
    height: .75em;
  } */

/* @media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* @media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} */