<nav class="navbar navbar-expand-md bg-primary-subtle fixed-top border-bottom">
	<div class="container">
		<a class="navbar-brand d-md-none" href="main.html">
			<img class="bi" width="35" height="35" src="../images/MentalWellnessLogo.png" />
			<!-- <span>Mental Wellness</span> -->
		</a>
		<a class="navbar-brand d-md-none" href="main.html">
			<span>Mental Wellness</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
			aria-controls="offcanvas" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasLabel">Menu</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav flex-grow-1 justify-content-between">
					<li class="nav-item"><a class="nav-link" href="main.html"><span>Home</span></a></li>
					<li class="nav-item"><a class="nav-link"><span>About</span></a></li>
					<a href="main.html"><img class="bi1" width="40" height="40" src="../images/MentalWellnessLogo.png" /></a>
					<li class="nav-item"><a class="nav-link" href="profile.html"><span>Profile</span></a></li>
					<li class="nav-item"><a class="nav-link"><span onclick="authStatus()" id="authStatus"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>