.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.firebaseui-container {
    background-color: #c3e8fb;
}

.firebaseui-button {
    /* background-color: #ff626e !important; */
    color: white !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label:after {
    /* background-color: #ff626e !important; */
}

.mdl-progress > .progressbar {
    /* background-color: #ff626e !important; */
}

.mdl-progress > .bufferbar {
    background-image: linear-gradient(
            90deg,
            hsla(0, 0%, 100%, 0.7),
            hsla(0, 0%, 100%, 0.7)
        ),
        linear-gradient(90deg, #ff626e, #ff626e) !important;
    z-index: 0;
    left: 0;
}

.mdl-progress:not(.mdl-progress--indeterminate) > .auxbar,
.mdl-progress:not(.mdl-progress__indeterminate) > .auxbar {
    background-image: linear-gradient(
            90deg,
            hsla(0, 0%, 100%, 0.9),
            hsla(0, 0%, 100%, 0.9)
        ),
        linear-gradient(90deg, #ff626e, #ff626e) !important;
}