.bg-info {
    background-color: #5B7E84 !important; /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #005a00; /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #f2fbf2; /* Lightest shade for text on info button for contrast */
    background-color: #72b372; /* Light green for button background */
    border-color: #005a00; /* Dark green for button border */
}

.btn-primary {
    color: #f2fbf2; /* Lightest shade for text */
    font-size: 150%;
    background-color: #3b6064; /* Dark green for primary button background */
    border-color: #b75858; /* Reddish-brown for border to use as accent */
    border-width: thick;
}

body {
    background-color: #e3f2fd; /* Lightest shade for body background to follow the 60% rule */
}
.navbar-brand{
    font-family: 'Caveat', cursive; /*change the font name for what you have*/
    font-size: 2.25rem;
}


#emotionRecordsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emotionRecords {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.recordItem {
    display: flex;
    align-items: center;
}

.recordItem time {
    margin-right: 10px; /* Adjust the spacing between time and emotion text */
    width: 60px; /* Set a fixed width for time */
    text-align: right; /* Align the time to the right */
}

.recordItem span {
    margin-right: 10px; /* Adjust the spacing between emotion text and icon */
}

.recordItem i {
    vertical-align: middle; /* Align the icon vertically */
}
